/* Variaveis de cor */
:root{
    --cor-de-fundo: #000000;
    --cor-de-texto: #ffffff;
    --cor-de-título: #daa520;
}

/* chamando as variaveis */

body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 276;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    background-color: var(--cor-de-fundo);
    color:var(--cor-de-texto);
}

h1{
    color: var(--cor-de-título);
}
header{
display: flex;
    border: #daa520 solid;
    border-width: 0 0 2px 0;
    align-items: center;
    justify-content: space-evenly;
}

section{
    display: flex;
}