/* Variaveis de cor */
:root{
    --cor-de-fundo: #000000;
    --cor-de-texto: #ffffff;
    --cor-de-título: #daa520;
}

/* chamando as variaveis */

body{
    background-color: var(--cor-de-fundo);
    color:var(--cor-de-texto);
}

h1{
    color: var(--cor-de-título);
}
header{
    display: flex;
}
